:root {
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --acent-color: #2196f3;
  --basic-white-color: #ffffff;
  --primary-background-color: #2f303a;
  --border-color: #ececec;
  --icon-color: #afb1b8;
  --transparent-color: rgba(255, 255, 255, 0.6);
  --filtres-color: #f5f4fa;
}

img {
  display: block;
}

ul,
p,
h3 {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--basic-white-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
  padding: 0;
}

.features-item::before {
  display: block;
  content: "";
  height: 120px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: var(--filtres-color);
}

.icon-antenna:before {
  background-image: url(../images/antenna.svg);
  background-size: 70px;
}

.icon-clock::before {
  background-image: url(../images/clock.svg);
  background-size: 70px;
}

.icon-diagram::before {
  background-image: url(../images/diagram.svg);
  background-size: 70px;
}

.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
  background-size: 70px;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features-list .features-item {
  width: 270px;
}

.features-list .features-item + .features-item {
  margin-left: 30px;
}

.features,
.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.section-work {
  padding-bottom: 94px;
}

.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 50px;
  padding: 0;
}

.filtre-link {
  text-decoration: none;
}

.work-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work-list .work-item + .work-item {
  margin-left: 30px;
}

.work-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.box-absolute {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(47, 48, 58, 0.8);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.discription-text {
  color: var(--basic-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.team {
  background-color: var(--batton-background-color);
}

.team-photo {
  margin-top: 0;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 50px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 10px;
}

.team-profession {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team-list .item-photo + .item-photo {
  margin-left: 30px;
}

.team-elements {
  padding-top: 30px;
  padding-bottom: 30px;
}

.item-photo {
  background-color: var(--basic-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.link-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  padding: 0;
  border: none;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon:hover {
  background-color: #2196f3;
}

.link-icon:focus {
  background-color: var(--acent-color);
}

.icon-instagram {
  fill: var(--icon-color);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon:hover > .icon-instagram {
  fill: var(--basic-white-color);
}

.link-icon:focus > .icon-instagram {
  fill: var(--basic-white-color);
}

.icon-twitter {
  fill: var(--icon-color);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon:hover > .icon-twitter {
  fill: var(--basic-white-color);
}

.link-icon:focus > .icon-twitter {
  fill: var(--basic-white-color);
}

.icon-facebook {
  fill: var(--icon-color);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon:hover > .icon-facebook {
  fill: var(--basic-white-color);
}

.link-icon:focus > .icon-facebook {
  fill: var(--basic-white-color);
}

.icon-linkedin {
  fill: var(--icon-color);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon:hover > .icon-linkedin {
  fill: var(--basic-white-color);
}

.link-icon:focus > .icon-linkedin {
  fill: var(--basic-white-color);
}

.list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
}

.list-social .element-social + .element-social {
  margin-left: 10px;
}

.social .link-icon + .link-icon {
  margin-left: 10px;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.link-clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
  height: 92px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-clients + .link-clients {
  margin-left: 30px;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.clients-list .element-client + .element-client {
  margin-left: 30px;
}

.clients-text {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 0;
  margin: 0;
  color: var(--title-text-color);
  -webkit-transition-property: border-color, background-color;
  transition-property: border-color, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-clients:hover {
  border: 1px solid var(--acent-color);
}

.link-clients:focus {
  background-color: var(--basic-white-color);
}

.icon-yaco {
  width: 106px;
  height: 60px;
  fill: var(--icon-color);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-clients:hover > .icon-yaco {
  fill: var(--acent-color);
}

.link-clients:focus > .icon-yaco {
  background-color: var(--basic-white-color);
  fill: var(--acent-color);
}

.icon-union {
  width: 106px;
  height: 60px;
  fill: var(--icon-color);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-clients:hover > .icon-union {
  fill: var(--acent-color);
}

.link-clients:focus > .icon-union {
  background-color: var(--basic-white-color);
  fill: var(--acent-color);
}

.icon-company {
  width: 106px;
  height: 60px;
  fill: var(--icon-color);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-clients:hover > .icon-company {
  fill: var(--acent-color);
}

.link-clients:focus > .icon-company {
  background-color: var(--basic-white-color);
  fill: var(--acent-color);
}

.icon-foster-peters {
  width: 106px;
  height: 60px;
  fill: var(--icon-color);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-clients:hover > .icon-foster-peters {
  fill: var(--acent-color);
}

.link-clients:focus > .icon-foster-peters {
  background-color: var(--basic-white-color);
  fill: var(--acent-color);
}

.icon-brand {
  width: 106px;
  height: 60px;
  fill: var(--icon-color);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-clients:hover > .icon-brand {
  fill: var(--acent-color);
}

.link-clients:focus > .icon-brand {
  background-color: var(--basic-white-color);
  fill: var(--acent-color);
}

.icon-tag-line {
  width: 106px;
  height: 60px;
  fill: var(--icon-color);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-clients:hover > .icon-tag-line {
  fill: var(--acent-color);
}

.link-clients:focus > .icon-tag-line {
  background-color: var(--basic-white-color);
  fill: var(--acent-color);
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  border-bottom-style: solid;
  border-bottom-color: var(--border-color);
  border-bottom-width: 1px;
}

.site-nav {
  margin-left: 93px;
}

.list-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icon-tell {
  width: 16px;
  height: 12px;
  fill: var(--primary-text-color);
  margin-right: 10px;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-mail {
  width: 16px;
  height: 12px;
  fill: var(--primary-text-color);
  margin-right: 10px;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.list-nav .item + .list-nav__item {
  margin-left: 50px;
}

.auth-nav .nav-item + .nav-item {
  margin-left: 50px;
}

.nav-item {
  display: inline-block;
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.auth-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.list-nav__item + .list-nav__item {
  margin-left: 50px;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--acent-color);
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:focus {
  color: var(--acent-color);
}

.logo-header {
  color: #000000;
}

.list-nav-button {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--title-text-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.list-nav-button:hover {
  color: var(--acent-color);
  background-color: var(--basic-white-color);
}

.list-nav-button:focus {
  color: var(--acent-color);
  background-color: var(--basic-white-color);
}

.list-nav-button.current {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--acent-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}

.list-nav__item .current {
  position: relative;
}

.list-nav__item {
  position: relative;
}

.list-nav__item .current::after {
  display: block;
  position: absolute;
  bottom: 0;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--acent-color);
  border-radius: 2px;
}

.header-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover {
  color: var(--acent-color);
}

.header-link:focus {
  color: var(--acent-color);
  background-color: var(--basic-white-color);
}

.header-link:hover > .icon-tell {
  fill: var(--acent-color);
}

.header-link:hover > .icon-mail {
  fill: var(--acent-color);
}

.header-link:focus > .icon-tell {
  fill: var(--acent-color);
}

.header-link:focus > .icon-mail {
  fill: var(--acent-color);
}

.section-hero {
  width: 1600px;
  background-color: var(--primary-background-color);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background-image.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--basic-white-color);
  padding: 0;
  margin: auto;
  margin-bottom: 30px;
  width: 696px;
}

.section-hero__button {
  display: inline-block;
  font-family: inherit;
  background-color: var(--acent-color);
  color: var(--basic-white-color);
  cursor: pointer;
  padding: 10px 32px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section-hero__button:hover,
.section-hero__button:focus {
  background-color: #188ce8;
}
/*# sourceMappingURL=main.css.map */