.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.link-clients {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  border: 1px solid $icon-color;
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    border: 1px solid $acent-color;

    &:focus {
      background-color: $basic-white-color;
    }
  }
}

.link-clients + .link-clients {
  margin-left: 30px;
}

.clients-list {
  display: flex;
  margin-top: 50px;
}

.clients-list .element-client + .element-client {
  margin-left: 30px;
}

.clients-text {
  @include font-bold;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 0;
  margin: 0;
  color: $title-text-color;
  transition-property: border-color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-yaco {
  width: $clients-icon-width;
  height: $clients-icon-height;
  fill: $icon-color;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .link-clients:hover > & {
    fill: $acent-color;
  }

  .link-clients:focus > & {
    background-color: $basic-white-color;
    fill: $acent-color;
  }
}

.icon-union {
  width: $clients-icon-width;
  height: $clients-icon-height;
  fill: $icon-color;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .link-clients:hover > & {
    fill: $acent-color;
  }

  .link-clients:focus > & {
    background-color: $basic-white-color;
    fill: $acent-color;
  }
}

.icon-company {
  width: $clients-icon-width;
  height: $clients-icon-height;
  fill: $icon-color;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .link-clients:hover > & {
    fill: $acent-color;
  }

  .link-clients:focus > & {
    background-color: $basic-white-color;
    fill: $acent-color;
  }
}

.icon-foster-peters {
  width: $clients-icon-width;
  height: $clients-icon-height;
  fill: $icon-color;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .link-clients:hover > & {
    fill: $acent-color;
  }

  .link-clients:focus > & {
    background-color: $basic-white-color;
    fill: $acent-color;
  }
}

.icon-brand {
  width: $clients-icon-width;
  height: $clients-icon-height;
  fill: $icon-color;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .link-clients:hover > & {
    fill: $acent-color;
  }

  .link-clients:focus > & {
    background-color: $basic-white-color;
    fill: $acent-color;
  }
}

.icon-tag-line {
  width: $clients-icon-width;
  height: $clients-icon-height;
  fill: $icon-color;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .link-clients:hover > & {
    fill: $acent-color;
  }

  .link-clients:focus > & {
    background-color: $basic-white-color;
    fill: $acent-color;
  }
}
