footer {
  background-color: $primary-background-color;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  color: $basic-white-color;

  &:focus {
    color: $primary-background-color;
  }
}

.google-link {
  @include font-normal($line-height 1.71);
  color: $basic-white-color;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    background-color: $primary-background-color;
  }
}

.footer-link {
  @include font-normal($line-height 1.71);
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    background-color: $primary-background-color;
  }
}

.address-list li {
  display: block;
  margin-bottom: 9px;
}

.address-list :last-child {
  margin-bottom: 0;
}
address {
  margin-top: 20px;
}

.box {
  display: flex;
  padding: 0;
  align-items: baseline;
}

.link-box {
  margin-left: 70px;
}
.footer-text {
  @include font-bold($font-size 14px, $line-height 1.14);
  text-transform: uppercase;
  color: $basic-white-color;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.footer-social {
  display: flex;
  content: "";
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $acent-color;
  }
}

.footer-social + .footer-social {
  margin-left: 10px;
}

.footer-social > .icon-instagram {
  fill: $basic-white-color;
}

.footer-social > .icon-twitter {
  fill: $basic-white-color;
}

.footer-social > .icon-facebook {
  fill: $basic-white-color;
}

.footer-social > .icon-linkedin {
  fill: $basic-white-color;
}

.list-social {
  display: flex;
}

.footer-link + .footer-link {
  margin-left: 10px;
}

.subscribe-box {
  margin-left: 93px;
}

.subscribe-text {
  @include font-bold($font-size 14px, $line-height 1.14);
  text-transform: uppercase;
  margin-bottom: 20px;
  color: $basic-white-color;
}

.subscribe-email {
  width: 358px;
  height: 50px;
  padding: 16px 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: $primary-background-color;
  color: $basic-white-color;
}

.subscribe-email::placeholder {
  @include font-normal($line-height 1.25);
  color: $transparent-color;
}

.button-subscribe {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  cursor: pointer;
  @include font-batton;
  color: $basic-white-color;
  background: $acent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
}

.icon-send {
  margin-left: 10px;
  fill: $basic-white-color;
}
