.main-nav {
  display: flex;
  align-items: center;
}

header {
  border-bottom-style: solid;
  border-bottom-color: $border-color;
  border-bottom-width: 1px;
}

.site-nav {
  margin-left: 93px;
}

.list-nav {
  display: flex;
}

.icon-tell {
  width: 16px;
  height: 12px;
  fill: $primary-text-color;
  margin-right: 10px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-mail {
  width: 16px;
  height: 12px;
  fill: $primary-text-color;
  margin-right: 10px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.list-nav .item + .list-nav__item {
  margin-left: 50px;
}

.nav-item {
  display: inline-block;
  width: 16px;
  height: 12px;
  margin-right: 10px;
}
.auth-nav {
  display: flex;
  margin-left: auto;

  & .nav-item + .nav-item {
    margin-left: 50px;
  }
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: $acent-color;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:focus {
  color: $acent-color;
}

.logo-header {
  color: $black-color;
}

.list-nav__button {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  @include font-header;
  text-decoration: none;
  color: $title-text-color;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $acent-color;
    background-color: $basic-white-color;
  }
}
.list-nav__button .current {
  @include font-header;
  text-decoration: none;
  color: $acent-color;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}

.list-nav__item .current {
  position: relative;
}

.list-nav__item {
  position: relative;

  & + & {
    margin-left: 50px;
  }
}

.list-nav__item .current::after {
  display: block;
  position: absolute;
  bottom: 0;
  content: "";
  width: 100%;
  height: 4px;
  background-color: $acent-color;
  border-radius: 2px;
}

.header-link {
  display: block;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $primary-text-color;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: $acent-color;
  }

  &:focus {
    color: $acent-color;
    background-color: $basic-white-color;
  }
}

.header-link:hover > .icon-tell {
  fill: $acent-color;
}

.header-link:hover > .icon-mail {
  fill: $acent-color;
}

.header-link:focus > .icon-tell {
  fill: $acent-color;
}

.header-link:focus > .icon-mail {
  fill: $acent-color;
}
