.team {
  background-color: $filtres-color;
}

.team-photo {
  margin-top: 0;
}
.team-title {
  @include font-bold;
  text-align: center;
  color: $title-text-color;
  margin-top: 0;
  margin-bottom: 50px;
}
.team-name {
  @include font-normal;
  text-align: center;
  color: $title-text-color;
  margin-top: 0;
  margin-bottom: 10px;
}
.team-profession {
  @include font-normal;
  text-align: center;
  color: $primary-text-color;
}

.team-list {
  display: flex;
}

.team-list .item-photo + .item-photo {
  margin-left: 30px;
}
.team-elements {
  padding-top: 30px;
  padding-bottom: 30px;
}

.item-photo {
  background-color: $basic-white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.link-icon {
  display: flex;
  width: 44px;
  height: 44px;
  padding: 0;
  border: none;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $acent-color;
  }
}

.icon-instagram {
  fill: $icon-color;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon:hover > .icon-instagram {
  fill: $basic-white-color;
}

.link-icon:focus > .icon-instagram {
  fill: $basic-white-color;
}

.icon-twitter {
  fill: $icon-color;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon:hover > .icon-twitter {
  fill: $basic-white-color;
}

.link-icon:focus > .icon-twitter {
  fill: $basic-white-color;
}

.icon-facebook {
  fill: $icon-color;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon:hover > .icon-facebook {
  fill: $basic-white-color;
}

.link-icon:focus > .icon-facebook {
  fill: $basic-white-color;
}

.icon-linkedin {
  fill: $icon-color;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon:hover > .icon-linkedin {
  fill: $basic-white-color;
}

.link-icon:focus > .icon-linkedin {
  fill: $basic-white-color;
}

.list-social {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.list-social .element-social + .element-social {
  margin-left: 10px;
}

.social .link-icon + .link-icon {
  margin-left: 10px;
}
