$title-text-color: #212121;
$primary-text-color: #757575;
$acent-color: #2196f3;
$basic-white-color: #ffffff;
$primary-background-color: #2f303a;
$border-color: #ececec;
$icon-color: #afb1b8;
$transparent-color: rgba(255, 255, 255, 0.6);
$filtres-color: #f5f4fa;
$black-color: #000000;

$clients-icon-width: 106px;
$clients-icon-height: 60px;
